html, body {
	height: 100%;
}

body {
	padding-bottom: 100px;
	min-height: 100%;
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    margin-top: -100px;
    background-color: #6d819c;
    text-align: center;
}

footer img {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 15px;
    right: 19px;
    vertical-align: middle;
}