form {
	text-align: center;
	margin-left: 25%;
	margin-right: 25%;
	padding: 2em;
}

form input:focus, textarea:focus {
    -moz-box-shadow: 0 0 8px #f68657;
    -webkit-box-shadow: 0 0 8px #f68657;
    box-shadow: 0 0 8px #f68657;
    border: 5px solid #f68657;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;

}