body {
    margin: 20px;
}

#forum {
    max-width: 600px;
    margin: auto;
    padding: 10px;
}

#forum  a {
    color: #F68657;
    text-decoration: none;
}

#forum  a:hover {
    background: transparent;
    color: #D4DFE6;
}

.thread, .comment {
    margin: 2%;
    padding-bottom: 10px;
    border: 1px solid #D4DFE6;
    border-left: none;
    border-right: none;
    border-top: none; 
}

#forum img, #forum span {
    vertical-align: middle;
}

#forum img, #forum img {
    width: 60px;
    margin-right: 3%;
}

#forum span {
    font-size: 2em;
}


#forum ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: .8em;
}

#forum h3 {
    font-size: 1.5em;
}

#forum li {
    display: inline-block;
    padding: 0  10px 0 0;
}

.comment {
    margin-left: 7%; 
}

#forum .comment span {
    font-size: 1.5em;
}

