#main, .thread-title {
    margin-top: 25px;
}

.thread {
    margin: 20px 0;
    border-bottom: 1px dashed #333;
}

.thread:last-child {
    border-bottom: none;
}

.thread img {
    width: 76px;
    padding: 0;
    margin: 0 10px 0 0;
}

.thread h3 {
    display: inline-block;
}

.thread a {
    color: inherit;
    margin-bottom: 15px;
}

.thread a:hover {
    color: blue;
}

.v-align {
    display: inline-block;
    float: none;
    vertical-align: middle;
}