/* Light orange: #F6B352 */
/* Dark orange: #F68657 */
/* Charcoal gray: #383A3F */
/* Black: #1F2124 */
/* Light blue:  #A2D6D9*/
/* Medium blue: #8EC0E4 */

body{
	float: left;
	color: #F6B352;
	font-family: Helvetica;
	background-color:#383A3F;
	text-decoration-color: #F6B352;
}
title{
	font-family: Arial;
	text-decoration: underline;
}
ul {
	text-align: left;
	list-style-type: decimal;
	/*align-content: right;
	padding-left: 30px;
	border-radius: 20px 20px 20px 20px;
	right: 50%;
	margin: 5px 10% 10% 500px;*/
}
.recent{
	position: fixed;
	top: 13%;
	left:0;

	color: #383A3F;
	width: 30%;
	float: right;
	font-family: courier;
	background-color: #F68657;
	align-content: left;
	padding-left: 30px;
	border-radius: 20px 20px 20px 20px;
	right: 50%;
	margin: 5px 10% 10% 65%;
}
.recent:hover{
	background-color: #FFE59D;
	width: 30%;
	height: 19%;
}
.next_game{
	border-collapse: collapse;
	border: 2px solid;
	border-radius: 90px;
}
.week{
	position: fixed;
	top: 35%;
	left:0;

	color: #383A3F;
	width: 30%;
	float: right;
	font-family: courier;
	list-style-type: none;
	background-color: #F68657;
	align-content: left;
	padding-left: 30px;
	border-radius: 20px 20px 20px 20px;
	right: 50%;
	margin: 5px 10% 10% 65%;
}
.week ul li{
	list-style-type: none;
}
.week:hover{
	background-color: #FFE59D;
	width: 30%;
	height: 27%;
}

