table {
	border-collapse: collapse;
	border: 1px solid #F68657;
	
}
th, tr, td {
	border-bottom: 1px solid #F68657;
	padding: 10px;
}

th {
	background-color: #F68657;
	color: #1F2124;
	text-align: middle;
}

td.score {
	text-align: center;
}

tr:nth-child(even) {
	background-color: #1F2124;
}

tr:hover {
	background-color: #F68657;
	color: #1F2124;
}

td a:after {
	content: "\00a0 | \00a0";
	text-decoration: none;
	display: inline-block;

}


}
tr a:hover {
	background-color: #F68657;
}

tr a:last-child:after {
	content: none;
}

}
/*tr a {
	text-decoration: none;
}*/